<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<div class="fix_tel">
    <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon" style="right: 150px; bottom: -12px;">
        <div class="ring-alo-ph-circle"></div>
        <div class="ring-alo-ph-circle-fill"></div>
        <div class="ring-alo-ph-img-circle">

            <a href="tel:0866146613"><img class="lazy" src="https://khomaythegioi.com/icon/goi.png" alt="G"></a>

        </div>
    </div>
    <div class="tel">
        <a href="tel: 0866146613"><p class="fone">(08) 6614-6613</p></a>
    </div>
</div>
<div class="container-fluid" style="padding: 0px;">
    <div class="fb-customerchat"
         page_id="802412829969294"
         minimized="true">
    </div>
    <div id="fb-root"></div>
    <div class="row">
        <div class="col-md-offset-5 col-md-2">
            <img src="/img/footer.png" class="img-responsive center-block" style="text-align: center; max-width: 200px; width: 70%;">
        </div>
    </div>
    <div class="container-fluid main-footer" style="margin: 0px; padding: 0px;">
        <svg preserveAspectRatio="none" viewBox="0 0 100 105" height="200" width="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light" style="position: absolute;">
            <path d="M0 0 L50 100 L100 0 Z" fill="#fff" stroke="#fff" style="position: absolute;"></path>
        </svg>
        <div class="row" style="margin: 20px;">
                <div class="row">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-3">
                            <h3 style="color: #0070c0; text-align: center;">Giao hàng Toàn Quốc</h3>
                        </div>
                        <div class="col-md-4">
                            <h3 style="color: #0070c0; text-align: center;">Đặt hàng ngay: <a style="color: red; font-weight: bold;">(08) 6614 – 6613</a></h3>
                        </div>
                        <div class="col-md-3">
                            <h3 style="color: #0070c0; text-align: center;">Chất lượng và Uy tín</h3>
                        </div>
                    </div>          
                    <br>      
                    <div class="col-md-12">
                        <h3 style="text-align: center; color: #FF3399;">“Liên Hoa Các xin phục vụ những con người <b>an nhiên</b> bằng tấm lòng <b>chân thật</b>…”</h3>
                    </div>

                </div>
                <div class="row" style="margin: 20px;">
                    <div class="col-md-offset-1 col-md-6" style="padding: 0px;">
                        <!-- <p style="color: #0070c0; font-size: 200%;">Pháp khí Liên Hoa Các</p> -->                   
                        <div class="row">
                            <h3 style="color: #0070c0;">Pháp khí Liên Hoa Các</h3>                      
                        </div>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="font-size: 150%; color: white;">Địa chỉ văn phòng: 155, Tân Thiềng, Tân An Hội, Mang Thít, Vĩnh Long</p>
                                </div>                            
                            </div>
                            <div class="row">
                                <div class="col-md-6" style="float: left;">
                                    <p style="font-size: 150%; color: white;">Email: phapkhilienhoacac@gmail.com</p>
                                    <p style="font-size: 150%; color: white;">Hotline: 08.6614.6613 - 0868.240.120</p>
                                </div>
                                <div class="col-md-6" >
                                    <img src="/img/bocongthuong.png" class="img-responsive cursor" width="70%" style="max-width: 200px;">
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-md-5" style="padding: 0px;">
                        <div class="row">
                            <h3 style="color: #0070c0; text-align: center;">Chủ tài khoản: <a style="color: white;">Nguyễn Hữu Bảo</a></h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <img src="/img/vietinbank.png" class="img-responsive cursor center-block" style="max-width: 200px;">
                                <b style="font-size: 200%; color: white;">104006766651</b>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <img src="/img/vietcombank.png" class="img-responsive cursor center-block" style="max-width: 200px;">
                                <b style="font-size: 200%; color: white;">0181003457301</b>
                            </div>
                        </div>            
                    </div>
                </div>
                <div class="row" style="margin: 20px;">
                    <div class="col-md-offset-1 col-md-6">
                        <div class="row">
                                                   
                        </div>                    
                    </div>
                    
                </div>
                <div class="row" style="margin: 20px;">
                           
                </div> 
                <div class="row">
                    <div class="col-md-12">
                        <h3 style="text-align: center; color: white;">Bản quyền thuộc về <b>Hệ thống Liên Hoa Các</b> Copyright © 2018</h3>
                    </div>
                </div>
        </div>
        <div class="row" style="text-align: center; color: white">
                    <br>
                    <div class="fb-page" data-href="https://www.facebook.com/lienhoacac/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/lienhoacac/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lienhoacac/">Pháp khí Liên Hoa Các</a></blockquote></div>
        </div>
    </div>
</div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '912333495590130',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">
    
    
    if(mobile.detect()){
        
        if (document.getElementById('mobile')!=null){
            document.getElementById('mobile').className = "container-fluid";
        }
        document.getElementById('headerMobile').style.display = "block";
        document.getElementById('menu-pc').innerHTML = ""; 
        if (document.getElementById('descriptionArea')!=null){
            document.getElementById('descriptionArea').style.fontSize = "45px";
        }

        var fontMobile = document.getElementsByClassName('font-mobile');
        for (var i = 0; i< fontMobile.length; i++){
            fontMobile[i].style.fontSize = "300%";
        }
        if (document.getElementById('buttonFilter')!=null){
            document.getElementById('buttonFilter').style.display = "block";
        }        
        if (document.getElementById('filter')!=null){
            document.getElementById('filter').style.display = "none";
        }
        
    }else{
        if (document.getElementById('mobile')!=null){
            document.getElementById('mobile').className = "container";
        }
        if (document.getElementById('descriptionArea')!=null){
            document.getElementById('descriptionArea').style.fontSize = "20px";
        }
        document.getElementById('menu-pc').style.display = "block";
        document.getElementById('headerMobile').innerHTML = "";
        if (document.getElementById('buttonFilter')!=null){
            document.getElementById('buttonFilter').style.display = "none";
        }                
    }
</script>
<script type="text/javascript">
    var product = document.getElementsByClassName("product");
    var prodDetail = document.getElementsByClassName("product_detail");
    var maxHeight = 0;
    for (var j=0; j<prodDetail.length; j++){
        if ((prodDetail[j].offsetHeight + product[j].offsetWidth*4/3) > maxHeight){
            maxHeight = prodDetail[j].offsetHeight + product[j].offsetWidth*4/3;
        }
    }
    for (var i=0; i<product.length; i++){
        product[i].style.height = maxHeight + 20 + "px";
    }

</script>
<script>
    $.ajax({
        url: '/PetMart/get-cart',
        type: 'POST',
        dataType: 'JSON',
        async: false,
        cache: false,
        contentType: 'application/json; charset=UTF-8',
        enctype: 'multipart/form-data',
        processData: false,
        success: function (response) {
            var count = 0
              for (var i = 0; i < response.result.length; i++) {

                    for (var j = 0; j < response.result[i].sizes.split(';').length; j++) {
                        count+= parseInt(response.result[i].quantities.split(';')[j]);
                    }
              }
            document.getElementById('cartIcon').innerText = parseInt(count);
        }
    });
</script>