<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<div class="fix_tel">
    <div class="ring-alo-phone ring-alo-green ring-alo-show" id="ring-alo-phoneIcon" style="right: 150px; bottom: -12px;">
        <div class="ring-alo-ph-circle"></div>
        <div class="ring-alo-ph-circle-fill"></div>
        <div class="ring-alo-ph-img-circle">

            <a href="tel:0901466165"><img class="lazy" src="https://khomaythegioi.com/icon/goi.png" alt="G"></a>

        </div>
    </div>
    <div class="tel">
        <a href="tel: 0901466165"><p class="fone">090.1466.165</p></a>
    </div>
</div>
<div class="container-fluid" style="padding: 0px;">
    <div class="fb-customerchat"
         page_id="802412829969294"
         minimized="true">
    </div>
    <div id="fb-root"></div>
    <div class="row">

    </div>
    <div class="container-fluid main-footer" style="margin: 0px; padding: 0px;background-color: #f8f8f8">
        <!--<svg preserveAspectRatio="none" viewBox="0 0 100 105" height="200" width="120%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="svgcolor-light" style="position: absolute;">
            <path d="M0 0 L50 100 L100 0 Z" fill="#fff" stroke="#fff" style="position: absolute;"></path>
        </svg>-->
        <div class="row" style="margin: 20px;">

            <div class="row" style="margin: 20px;">
                <div class="col-md-offset-1 col-md-12" style="padding: 0px;">

                    <div class="row">
                        <h3 style="color: #6A3723; font-size: 50px; ">Cutiie House</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class = "row">
                                <p style="font-size: 120%; color: #6A3723;font-weight: bold">Chính Sách</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;"><a href="/khachsi">Chính sách khách sỉ</a></p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;"><a href="/giaonhan">Chính sách giao nhận</a></p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;"><a href="/doitra">Chính sách đổi trả</a></p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class = "row">
                                <p style="font-size: 120%; color: #6A3723;font-weight: bold">Hướng Dẫn</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;"><a href="/huongdan">Hướng Dẫn Mua Hàng</a></p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class = "row">
                                <p style="font-size: 120%; color: #6A3723;font-weight: bold">Cửa Hàng</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">Địa chỉ: 35 Phạm Ngọc Lộc. Phường 14. Quận 10. Thành phố Hồ Chí Minh.</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">Email: phammaihoa0705@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-4">
                            <div class = "row">
                                <p style="font-size: 120%; color: #6A3723;font-weight: bold">Chủ tài khoản: Bùi Thiện Thanh</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">0071000799478</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">Chi nhánh: Vietcombank Tphcm</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class = "row">
                                <p style="font-size: 120%; color: #6A3723;font-weight: bold">Chủ tài khoản: Bùi Thiện Thanh</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">060032884027</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">Chi nhánh: Sacombank Hưng Đạo</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class = "row">
                                <p style="font-size: 120%; color: #6A3723;font-weight: bold">Chủ tài khoản: Phạm Mai Hoa</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">1575567</p>
                            </div>
                            <div class="row">
                                <p style="font-size: 120%; color: #6A3723;">Chi nhánh: ACB 3/2</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" style="margin: 20px;">
                <div class="col-md-offset-1 col-md-6">
                    <div class="row">

                    </div>
                </div>

            </div>
            <div class="row" style="margin: 20px;">

            </div>

        </div>
        <!--<div class="row" style="text-align: center; color: white">
                    <br>
                    <div class="fb-page" data-href="https://www.facebook.com/lienhoacac/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/lienhoacac/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/lienhoacac/">Pháp khí Liên Hoa Các</a></blockquote></div>
        </div>-->
    </div>
</div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId            : '912333495590130',
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.11'
        });
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script type="text/javascript">


    if(mobile.detect()){

        if (document.getElementById('mobile')!=null){
            document.getElementById('mobile').className = "container-fluid";
        }
		 document.getElementById('bestnew-mobile').style.display = "block";
		  document.getElementById('bestnew-desktop').style.display = "none";
        document.getElementById('headerMobile').style.display = "block";
        document.getElementById('menu-pc').innerHTML = "";
        if (document.getElementById('descriptionArea')!=null){
            document.getElementById('descriptionArea').style.fontSize = "45px";
        }

        var fontMobile = document.getElementsByClassName('font-mobile');
        for (var i = 0; i< fontMobile.length; i++){
            fontMobile[i].style.fontSize = "300%";
        }
        if (document.getElementById('buttonFilter')!=null){
            document.getElementById('buttonFilter').style.display = "block";
        }
        if (document.getElementById('filter')!=null){
            document.getElementById('filter').style.display = "none";
        }

    }else{
	 document.getElementById('bestnew-mobile').style.display = "none";
		  document.getElementById('bestnew-desktop').style.display = "block";
        if (document.getElementById('mobile')!=null){
            document.getElementById('mobile').className = "container";
        }
        if (document.getElementById('descriptionArea')!=null){
            document.getElementById('descriptionArea').style.fontSize = "20px";
        }
        document.getElementById('menu-pc').style.display = "block";
        document.getElementById('headerMobile').innerHTML = "";
        if (document.getElementById('buttonFilter')!=null){
            document.getElementById('buttonFilter').style.display = "none";
        }
    }
</script>
<script type="text/javascript">
    var product = document.getElementsByClassName("product");
    var prodDetail = document.getElementsByClassName("product_detail");
    var maxHeight = 0;
    for (var j=0; j<prodDetail.length; j++){
        if ((prodDetail[j].offsetHeight + product[j].offsetWidth*4/3) > maxHeight){
            maxHeight = prodDetail[j].offsetHeight + product[j].offsetWidth*4/3;
        }
    }
    for (var i=0; i<product.length; i++){
        product[i].style.height = maxHeight + 20 + "px";
    }

</script>
<script>
    $.ajax({
        url: '/PetMart/get-cart',
        type: 'POST',
        dataType: 'JSON',
        async: false,
        cache: false,
        contentType: 'application/json; charset=UTF-8',
        enctype: 'multipart/form-data',
        processData: false,
        success: function (response) {
            var count = 0
            for (var i = 0; i < response.result.length; i++) {

                for (var j = 0; j < response.result[i].sizes.split(';').length; j++) {
                    count+= parseInt(response.result[i].quantities.split(';')[j]);
                }
            }
            document.getElementById('cartIcon').innerText = parseInt(count);
        }
    });
</script>