<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<div class="container">
    <ol>
        <li><strong> Điều kiện v&agrave; quy định đổi trả sản phẩm</strong></li>
    </ol>
    <p>- Sản phẩm phải c&ograve;n nguy&ecirc;n vẹn, nguy&ecirc;n tem m&aacute;c, chưa qua sử dụng v&agrave; sửa chửa. Đối với sản phẩm c&oacute; hộp phải c&ograve;n nguy&ecirc;n hộp, đầy đủ phụ kiện, hướng dẫn đi k&egrave;m, tặng phẩm (nếu c&oacute;).</p>
    <p>- Sản phẩm đ&atilde; nhận kh&ocirc;ng qu&aacute; 3 ng&agrave;y.</p>
    <p>- Sản phẩm chỉ được đổi 1 lần duy nhất v&agrave; chỉ đổi c&ugrave;ng m&agrave;u, c&ugrave;ng mẫu</p>
    <p>- Sản phẩm kh&ocirc;ng mua trong thời gian khuyến m&atilde;i hoặc giảm gi&aacute;.</p>
    <p>- Sản phẩm đổi trả phải c&oacute; h&oacute;a đơn b&aacute;n h&agrave;ng k&egrave;m theo.</p>
    <p>&nbsp;</p>
    <ol>
        <li><strong> C&aacute;c trường hợp được đổi trả </strong></li>
    </ol>
    <p>- Sản phẩm lỗi do nh&agrave; sản xuất</p>
    <p>- Sản phẩm kh&aacute;ch h&agrave;ng nhận kh&ocirc;ng đ&uacute;ng với mẫu m&atilde;, k&iacute;ch thước, m&agrave;u sắc như đ&atilde; đặt</p>
    <p>- Kh&aacute;ch h&agrave;ng c&oacute; nhu cầu được đổi size do mặc kh&ocirc;ng vừa.</p>
    <p>&nbsp;</p>
    <ol>
        <li><strong> Hướng dẫn đổi sản phẩm</strong></li>
        <li><strong> Kh&aacute;ch h&agrave;ng ở TPHCM đến đổi sản phẩm trực tiếp tại cửa h&agrave;ng</strong></li>
        <li><strong> Kh&aacute;ch h&agrave;ng ở tỉnh gửi h&agrave;ng qua dịch vụ hoặc bưu điện đến địa chỉ: 35 Nguyễn Ngọc Lộc, Phường 14, Quận 10. </strong></li>
    </ol>
    <p><strong>H&agrave;ng được đổi lại cho kh&aacute;ch trong v&ograve;ng 3-7 ng&agrave;y sau khi b&ecirc;n bộ phận kinh doanh Cutiie House kiểm tra x&aacute;c nhận lỗi v&agrave; t&igrave;nh trạng của sản phẩm</strong></p>
    <p><strong>&nbsp;</strong></p>
    <ol>
        <li><strong> Chi ph&iacute; đổi trả</strong></li>
    </ol>
    <p>&nbsp;- B&ecirc;n shop miễn ph&iacute; đổi h&agrave;ng cho kh&aacute;ch h&agrave;ng khi mua sắm tại Cutiie House trong trường hợp sản phẩm bị lỗi sản xuất, bị trầy xước khi vận chuyển, giao nhầm.</p>
    <p>- Tuy nhi&ecirc;n, trong trường hợp kh&aacute;ch h&agrave;ng muốn đổi sản phẩm v&igrave; l&iacute; do chủ quan như kh&ocirc;ng vừa size, &hellip;&hellip;kh&aacute;ch h&agrave;ng vui l&ograve;ng chịu ph&iacute; vận chuyển</p>
</div>

</body>
<% include partials/index_Footer.ejs %>

</html>