<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<div class="container">
    <ol>
        <li>
            <p><strong>I/ KH&Aacute;CH H&Agrave;NG MUA LẺ</strong></p>
            <table border="y">
                <tbody>
                <tr>
                    <td width="208">
                        <p><strong>Khu vực</strong></p>
                    </td>
                    <td width="208">
                        <p><strong>Quận/ Huyện</strong></p>
                    </td>
                    <td width="208">
                        <p><strong>Ph&iacute; Ship</strong></p>
                    </td>
                </tr>
                <tr>
                    <td width="208">
                        <p>Ship nội th&agrave;nh TPHCM</p>
                    </td>
                    <td width="208">
                        <p>1,3,4,5,6,7,8,10,11,T&acirc;n Ph&uacute;, T&acirc;n B&igrave;nh, Ph&uacute; Nhuận, B&igrave;nh Thạnh, G&ograve; Vấp</p>
                    </td>
                    <td width="208">
                        <p>20.000đ</p>
                    </td>
                </tr>
                <tr>
                    <td width="208">
                        <p>Ship quận v&agrave; huyện ngoại th&agrave;nh</p>
                    </td>
                    <td width="208">
                        <p>2,9,12, Thủ Đức, H&oacute;c M&ocirc;n, B&igrave;nh T&acirc;n, B&igrave;nh Ch&aacute;nh, Củ Chi, Nh&agrave; B&egrave;, Cần Giờ</p>
                    </td>
                    <td width="208">
                        <p>30.000đ</p>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2" width="208">
                        <p>Tỉnh</p>
                    </td>
                    <td width="208">
                        <p>Ship ch&agrave;nh xe (kh&aacute;ch chuyển khoản trước)</p>
                    </td>
                    <td width="208">
                        <p>20.000đ</p>
                    </td>
                </tr>
                <tr>
                    <td width="208">
                        <p>Ship thu hộ</p>
                    </td>
                    <td width="208">
                        <p>40.000đ</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p><br /> <strong>Lưu &yacute; khi nhận h&agrave;ng</strong></p>
            <ul>
                <li>Qu&yacute; kh&aacute;ch h&agrave;ng vui l&ograve;ng kiểm tra sản phẩm ngay tại chỗ trước khi thanh to&aacute;n (nếu c&oacute;) cho nh&acirc;n</li>
            </ul>
            <p>vi&ecirc;n giao h&agrave;ng. Nhưng Kh&aacute;ch h&agrave;ng lưu &yacute; l&agrave; kh&ocirc;ng được ph&eacute;p thử sản phẩm.</p>
            <ul>
                <li>Khi ph&aacute;t hiện h&agrave;ng h&oacute;a bị hư hại, trầy xước, bể vỡ, m&oacute;p m&eacute;o, hoặc sai h&agrave;ng h&oacute;a, sai k&iacute;ch thước</li>
            </ul>
            <p>sai m&agrave;u sắc th&igrave; k&yacute; x&aacute;c nhận t&igrave;nh trạng h&agrave;ng h&oacute;a với Nh&acirc;n vi&ecirc;n giao nhận v&agrave; th&ocirc;ng b&aacute;o ngay cho Bộ phận Chăm s&oacute;c kh&aacute;ch h&agrave;ng của CUTIIE HOUSE để xử l&yacute; ngay.</p>
            <ul>
                <li>Sau khi kh&aacute;ch h&agrave;ng đ&atilde; k&yacute; nhận h&agrave;ng v&agrave; thanh to&aacute;n cho nh&acirc;n vi&ecirc;n giao h&agrave;ng. CUTIIE</li>
            </ul>
            <p>HOUSE kh&ocirc;ng giải quyết với những y&ecirc;u cầu đổi trả v&igrave; hư hỏng, trầy xước, bể vỡ, m&oacute;p m&eacute;o, sai h&agrave;ng h&oacute;a&hellip; từ kh&aacute;ch h&agrave;ng sau n&agrave;y.</p>
            <p>&nbsp;</p>
            <p>II<strong>/ KH&Aacute;CH H&Agrave;NG NHẬP SỈ</strong></p>
            <ol>
                <li><strong>Kh&aacute;ch h&agrave;ng ở Tp.HCM</strong></li>
            </ol>
            <table border="Y">
                <tbody>
                <tr>
                    <td width="208">
                        <p>Nội th&agrave;nh</p>
                    </td>
                    <td width="208">
                        <p>1,3,4,5,6,7,8,10,11,T&acirc;n Ph&uacute;, T&acirc;n B&igrave;nh, Ph&uacute; Nhuận, B&igrave;nh Thạnh, G&ograve; Vấp</p>
                    </td>
                    <td width="208">
                        <p>20.000đ</p>
                    </td>
                </tr>
                <tr>
                    <td width="208">
                        <p><strong>Ship quận v&agrave; huyện ngoại th&agrave;nh</strong></p>
                    </td>
                    <td width="208">
                        <p>2,9,12, Thủ Đức, H&oacute;c M&ocirc;n, B&igrave;nh T&acirc;n, B&igrave;nh Ch&aacute;nh, Củ Chi, Nh&agrave; B&egrave;, Cần Giờ</p>
                    </td>
                    <td width="208">
                        <p>30.000đ</p>
                    </td>
                </tr>
                </tbody>
            </table>
            <p>&nbsp;</p>
            <p>Lưu &yacute;:</p>
            <ul>
                <li>Shop nhận ship với đơn h&agrave;ng từ 5sp trở l&ecirc;n</li>
                <li>Dưới 5sp kh&aacute;ch vui l&ograve;ng gh&eacute; mua h&agrave;ng trực tiếp tại cửa h&agrave;ng</li>
            </ul>
            <ol start="2">
                <li><strong>Kh&aacute;ch h&agrave;ng ở tỉnh v&agrave; c&aacute;c th&agrave;nh phố kh&aacute;c</strong></li>
            </ol>
            <p>Kh&aacute;ch tỉnh lấy sỉ chuyển khoản trước 100% gi&aacute; trị đơn h&agrave;ng đ&atilde; mua</p>
            <p>Về ph&iacute; vận chuyển:</p>
            <table border="Y">
                <tbody>
                <tr>
                    <td width="312">
                        <p>Ship tận nơi</p>
                    </td>
                    <td width="312">
                        <p>Kh&aacute;ch h&agrave;ng thanh to&aacute;n ph&iacute; ship cho b&ecirc;n dịch vụ giao h&agrave;ng khi nhận h&agrave;ng</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td width="312">
                        <p>Ship ch&agrave;nh xe</p>
                    </td>
                    <td width="312">
                        <p>Kh&aacute;ch h&agrave;ng thanh to&aacute;n ph&iacute; ship cho b&ecirc;n ch&agrave;nh xe khi nhận h&agrave;ng</p>
                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đơn h&agrave;ng tr&ecirc;n 10sp: freeship ra ch&agrave;nh xe</p>
                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Đơn h&agrave;ng dưới 10sp: ph&iacute; ra ch&agrave;nh xe 20k</p>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>
    </ol>
</div>

</body>
<% include partials/index_Footer.ejs %>

</html>