<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<div class="container">
    <p><strong>Hướng dẫn mua h&agrave;ng</strong></p>
    <p><strong>Bước 1:</strong>&nbsp;T&igrave;m kiếm sản phẩm y&ecirc;u th&iacute;ch tại&nbsp;<a href="https://cutiiehouse.com/"><strong>cutiiehouse.com</strong></a></p>
    <p><strong>Bước 2:</strong>&nbsp;Xem th&ocirc;ng tin / h&igrave;nh ảnh sản phẩm v&agrave; đặt mua h&agrave;ng</p>
    <p>Sau khi bấm n&uacute;t&nbsp;<strong>&ldquo;MUA NGAY&rdquo;</strong>&nbsp;bạn sẽ thấy xuất hiện m&agrave;n h&igrave;nh th&ocirc;ng b&aacute;o sản phẩm bạn đ&atilde; chọn mua.</p>
    <p><em>Lưu &yacute;: Bạn cần kiểm tra kỹ t&ecirc;n sản phẩm, m&agrave;u sắc sản phẩm v&agrave; số lượng sản phẩm đặt mua trước khi sang bước tiếp theo.</em></p>
    <p><strong>Bước 3:</strong>&nbsp;Nhập th&ocirc;ng tin giao h&agrave;ng</p>
    <p><strong>Bước 4:</strong>&nbsp;Thanh to&aacute;n</p>
    <p>Qu&yacute; kh&aacute;ch c&oacute; thể lựa chọn 1 trong 3 h&igrave;nh thức thanh to&aacute;n sau:</p>
    <p>&nbsp; &nbsp; &nbsp;- Thanh to&aacute;n bằng tiền mặt khi nhận h&agrave;ng (chỉ &aacute;p dụng đối với kh&aacute;ch h&agrave;ng mua lẻ v&agrave; kh&aacute;ch sỉ ở TPHCM)</p>
    <p>&nbsp; &nbsp; &nbsp;- Chuyển khoản qua số t&agrave;i khoản ng&acirc;n h&agrave;ng</p>
    <p>&nbsp; &nbsp; &nbsp;- Thanh to&aacute;n qua v&iacute; MoMo / ZaloPay</p>
    <p>&nbsp;</p>
    <p><strong>Lưu &yacute;: Nếu gặp kh&oacute; khăn trong qu&aacute; tr&igrave;nh đặt h&agrave;ng v&agrave; thanh to&aacute;n, qu&yacute; kh&aacute;ch h&agrave;ng c&oacute; thể li&ecirc;n hệ với bộ phận chăm s&oacute;c kh&aacute;ch h&agrave;ng bằng 1 trong 2 c&aacute;ch sau:</strong></p>
    <p><strong>&nbsp; &nbsp; &nbsp;- Gọi số hotline 0901.466.165&nbsp; (10h &ndash; 21h tất cả c&aacute;c ng&agrave;y trong tuần).</strong></p>
    <p><strong>&nbsp; &nbsp; &nbsp;- Nhắn tin trực tiếp nh&acirc;n vi&ecirc;n hỗ trợ đặt h&agrave;ng nhanh tr&ecirc;n website&nbsp;<a href="https://cutiiehouse.com/">cutiiehouse.com</a></strong></p>
</div>

</body>
<% include partials/index_Footer.ejs %>

</html>