<!DOCTYPE html>
<html lang="en">
<% include partials/index_Header.ejs %>
<body>
<div class="container">
    <p><strong>KH&Aacute;CH SỈ:</strong></p>
    <p>C&aacute;ch thức lấy sỉ</p>
    <p>- Lần đầu lấy 7c bất k&igrave; l&agrave; được gi&aacute; sỉ</p>
    <p>- Những lần sau kh&aacute;ch lấy 3 c&aacute;i l&agrave; được.</p>
    <p>- Qu&aacute; 10 ng&agrave;y kh&ocirc;ng lấy h&agrave;ng th&igrave; t&iacute;nh lại từ đầu</p>
    <p>- H&agrave;ng đổi lỗi trong v&ograve;ng 3 ng&agrave;y (chỉ đổi c&ugrave;ng mẫu, c&ugrave;ng m&agrave;u, c&ugrave;ng size)</p>
    <p>- Sau 3 ng&agrave;y b&ecirc;n shop kh&ocirc;ng nhận giải quyết nữa</p>
    <p>- Nhận may mẫu sll từ 30c trở l&ecirc;n</p>
    <p>&nbsp;</p>
    <p>▪️Kh&aacute;ch sỉ cập nhật mẫu mới, gi&aacute; v&agrave; chốt bill zalo 0901.466.165</p>
    <p>▪️Kh&aacute;ch chốt bill trước 12g, h&agrave;ng đi trong ng&agrave;y</p>
    <p>▪️Chốt sau 12g, h&agrave;ng đi v&agrave;o ng&agrave;y h&ocirc;m sau</p>
    <p>&nbsp;</p>
    <p>❌B&ecirc;n em chỉ sỉ cho kh&aacute;ch về b&aacute;n lại</p>
    <p>❌ KH&Aacute;CH SỈ VUI L&Ograve;NG KH&Ocirc;NG THỬ ĐỒ</p>
    <p>&nbsp;</p>
    <ul>
        <li><strong><em>Kh&aacute;ch h&agrave;ng ở TPHCM</em></strong></li>
    </ul>
    <p>Kh&aacute;ch c&oacute; thể gh&eacute; trực tiếp cửa h&agrave;ng xem v&agrave; mua h&agrave;ng hoặc shop ship cho kh&aacute;ch.</p>
    <p>Địa chỉ: 35 Nguyễn Ngọc Lộc P14 Q10</p>
    <p>Mở cửa: 10:00 - 21:00 ( từ thứ 2 - thứ 7)</p>
    <p>Lưu &yacute;:</p>
    <ul>
        <li>Shop nhận ship với đơn h&agrave;ng từ 5sp trở l&ecirc;n</li>
        <li>Dưới 5sp kh&aacute;ch vui l&ograve;ng gh&eacute; mua h&agrave;ng trực tiếp tại cửa h&agrave;ng</li>
        <li><strong><em>Kh&aacute;ch h&agrave;ng ở t&igrave;nh v&agrave; c&aacute;c th&agrave;nh phố kh&aacute;c</em></strong></li>
    </ul>
    <p>Kh&aacute;ch sỉ tỉnh phải chuyển khoản trước gi&aacute; trị đơn h&agrave;ng đ&atilde; mua</p>
    <p><br /> Chủ t&agrave;i khoản: B&ugrave;i Thiện Thanh</p>
    <p>Stk: 0071000799478</p>
    <p>Chi nh&aacute;nh: Vietcombank Tphcm</p>
    <p>&nbsp;</p>
    <p>Chủ t&agrave;i khoản: B&ugrave;i Thiện Thanh</p>
    <p>Stk: 060032884027</p>
    <p>Chi nh&aacute;nh: Sacombank Hưng Đạo</p>
    <p>&nbsp;</p>
    <p>Chủ t&agrave;i khoản: Phạm Mai Hoa</p>
    <p>Stk: 1575567</p>
    <p>Chi nh&aacute;nh: ACB 3/2</p>
    <p>&nbsp;</p>
</div>

</body>
<% include partials/index_Footer.ejs %>

</html>