<!DOCTYPE HTML>
<html>

<head>
    <title>ACD</title>


    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="keywords" content="Template, html, premium, themeforest"/>
    <meta name="description" content="Traveler - Premium template for travel companies">
    <meta name="author" content="Tsoy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- GOOGLE FONTS -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' rel='stylesheet'
          type='text/css'>
    <!-- /GOOGLE FONTS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mystyles.css">
    <script src="js/modernizr.js"></script>


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="/">
                            <img src="img/ACD_Final_Logo_2.png" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <!--<form class="main-header-search">
                            <div class="form-group form-group-icon-left">
                                <i class="fa fa-search input-icon"></i>
                                <input type="text" class="form-control">
                            </div>
                        </form>-->
                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a href="#">
                                        <img class="origin round" src="img/40x40.png" alt="Image Alternative text" title="AMaze" />Hi, <%= data.fname %></a>
                                </li>
                                <li><a href="/logout">Sign Out</a>
                                </li>
                                <li class="nav-drop"><a href="#">USD $<i class="fa fa-angle-down"></i><i class="fa fa-angle-up"></i></a>
                                    <ul class="list nav-drop-menu">
                                        <li><a href="#">EUR<span class="right">€</span></a>
                                        </li>
                                        <li><a href="#">GBP<span class="right">£</span></a>
                                        </li>
                                        <li><a href="#">JPY<span class="right">円</span></a>
                                        </li>
                                        <li><a href="#">CAD<span class="right">$</span></a>
                                        </li>
                                        <li><a href="#">AUD<span class="right">A$</span></a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>



    <div class="gap"></div>


    <div class="container">
        <h3><a href="/">Home</a> > <a href="/noti-maintenance">Notification Maintenance</a> > </h3>
        <%if (data.status == 'success'){%>
        <div class="alert alert-success">
            <strong>Success!</strong>
        </div>
        <%}%>
        <div class="row" data-gutter="60">
            <div class="col-md-4">
                <h1>Detail</h1>

                <form action='/PetMart/add-category' novalidate method='POST' enctype="multipart/form-data">
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Title</label>
                        <select class="form-control" name="newFolder">

                            <option value="1">ABC</option>


                        </select>
                    </div>


                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Description</label>
                        <input class="form-control" name="newCat" value="">
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Avatar</label>
                        <input type=file  name="upfile" value="">
                    </div>


					 </br>
                    <input type=file  name="upfile" value="">
                        <input class="btn btn-primary" type="submit" value="Ok" >

                </form>

                <!--<form action='/PetMart/add-category' novalidate method='POST' enctype="multipart/form-data">
                    <div class="col-md-4">
                        <select class="form-control" name="newFolder">

                            <option value="1">ABC</option>


                        </select></div>
                    <div class="col-md-4"><input class="form-control" name="newCat" value=""></div>


                    <div class="col-md-4">
                        <input type="file" class="form-control" name="upfile" value="">
                    </div>
                    </br>
                    <button class="btn btn-danger" id='Ok' style="display: block" type='submit'>Ok</button>
                </form>-->
            </div>
            <!--<div class="col-md-4">
                <h1>Login</h1>

                <form action="login" method="post">
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>Username or email</label>
                        <input class="form-control" placeholder="e.g. johndoe@gmail.com" type="text" name="email"
                               required/>
                    </div>
                    <div class="form-group form-group-icon-left"><i class="fa fa-lock input-icon input-icon-show"></i>
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="my secret password" name="password"
                               required/>
                    </div>
                    <input class="btn btn-primary" type="submit" value="Sign in"/>
                </form>
            </div>-->
        </div>
    </div>

</div>
</body>
<% include partials/index_Footer.ejs %>
<script type="text/javascript">
    $(document).ready(function () {
        $('#email').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "./ajax/checkEmail",
                data: "mode=check_email&email=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>Email Id Aleady Exist</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        $("#frmId .btn").removeAttr('disabled');
                    }
                }
            });
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
    $(document).ready(function () {
        $('#username').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "./ajax/checkUser",
                data: "mode=check_email&username=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>User Name Aleady Exist</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        $("#frmId .btn").removeAttr('disabled');
                    }
                }
            });
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
	$(document).ready(function () {
        $('#type').change(function () {
           var typeVal = document.getElementById('type').value;
		   if(typeVal == '3'){
				document.getElementById("password").value = '0';
				document.getElementById("passwordRow").style.display = "none";
				
				document.getElementById("salary").value = '0';
				document.getElementById("salaryRow").style.display = "none";
		   }else{
				document.getElementById("passwordRow").style.display = "block";
				
				document.getElementById("salaryRow").style.display = "block";
		   }
        });
       
    });
</script>
</html>

