<!DOCTYPE HTML>
<html>

<% include partials/index_Header.ejs %>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <div class="gap"></div>

    <div class="container">

        <div class="row">
            <ol class="breadcrumb">
                <a href="/"><i class="icon fa fa-home"></i> Home</a> / <a href="/#">Sign Up</a>
            </ol>

        </div>

        <div class="row" data-gutter="60">
            
            <div class="col-md-offset-3 col-md-6">
                
                <h2><span class="label label-success center-block">Đăng kí tài khoản</span></h2>
                <form action="signup" novalidate method="post" enctype="multipart/form-data" id="frmId">
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-offset-2 col-md-8"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Họ và Tên</label>
                            <input class="form-control" type="text" name="firstname" required>
                        </div>
                        <!--<div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Họ</label>
                            <input class="form-control" type="text" name="lastname" required>
                        </div>-->

                    </div>

                        <div class="row">
                            <div class="col-md-offset-2 col-md-4">
                                <div class="form-group form-group-icon-left">
                                    <label>Sinh Ngày</label>
                                    <input class="form-control" name="dob" type="date" />
                                </div>
                            </div>
                        </div>

                    <div class="row" >
                        <div class="col-md-offset-2 col-md-4">
                            <label>Giới Tính</label>
                            <select class="form-control" id = "gender" name = "gender">
                                <option value = "M">Quý Ông</option>
                                <option value = "F">Quý Bà</option>
                            </select>
                        </div>
                    </div>
                    <div class="row" >
                        <div class="form-group form-group-icon-left col-md-offset-2 col-md-8" style="display: none"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Tên tài khoản</label>
                            <input class="form-control" type="text" name="username" id="username" >
                        </div>
                        <div class="form-group form-group-icon-left col-md-offset-2 col-md-8"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Số điện thoại</label>
                            <input class="form-control" type="text" name="phone" id="phone" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-icon-left col-md-offset-2 col-md-8" id = "passwordRow"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Mật khẩu</label>
                            <input class="form-control" type="password" name="password" id="password" required>
                        </div>
                    </div>

                    <div class="row" style="display: none">
                        <div class="form-group form-group-icon-left col-md-4"><i class="fa fa-user input-icon input-icon-show" ></i>
                            <label>Email</label>
                            <input class="form-control" type="text" name="email" id="email" >
                        </div>

                    </div>

                    <div class="row" >

                        <div class="form-group form-group-icon-left col-md-offset-2 col-md-8">
                            <label>Địa chỉ</label>
                            <textarea class="form-control" type="text" name="address" id="address" required></textarea>
                        </div>
                    </div>
                    <div class="row" style="display: none">
                        <div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Thành phố</label>
                            <input class="form-control" type="text" name="city" id="city" >
                        </div>
                        <div class="form-group form-group-icon-left col-md-6"><i class="fa fa-user input-icon input-icon-show"></i>
                            <label>Quốc gia</label>
                            <input class="form-control" type="text" name="country" id="country" >
                        </div>
                    </div>

                    <%if(type == '1'){%>
                    <div class="form-group form-group-icon-left"><i class="fa fa-user input-icon input-icon-show"></i>
                        <label>User Type</label>
                        <select name="type" id="type" >
                            <option value="2" selected>User</option>
                            <option value="1" >Admin</option>

                        </select>
                    </div>
                    <%}%>
                    <input class="btn btn-success center-block" type="submit" value="Đăng kí" >
                </form>

            </div>
        </div>
    </div>
</div>
<br>
</body>
<% include partials/index_Footer.ejs %>
<script type="text/javascript">
    <%if (data.status == 'success'){%>
    document.getElementById('id01').style.display='block';
    <%}%>
    $('#frmId').submit(function () {
        if ($(this).find('.error').length == 0) {
            return true;
        }
        else {
            return false;
        }
    });
    $(document).ready(function () {
        $('#email').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "./ajax/checkEmail",
                data: "mode=check_email&email=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>Email Id Aleady Exist</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        $("#frmId .btn").removeAttr('disabled');
                    }
                }
            });
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
    $(document).ready(function () {
        $('#username').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "./ajax/checkUser",
                data: "mode=check_email&username=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;
                    if (data.status == 'exist') {
                        obj.after("<label class='error'>User Name Aleady Exist</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        $("#frmId .btn").removeAttr('disabled');
                    }
                }
            });
        });

    });
    $(document).ready(function () {
        $('#phone').keyup(function () {
            $(".error").remove();
            var obj = $(this);
            $.ajax({
                type: "POST",
                url: "./ajax/checkUser",
                data: "mode=check_phone&username=" + obj.val(),
                success: function (msg) {
                    //alert(msg);
                    data = msg;


                    if ((obj.val().length > 11) || (isNaN(obj.val()))) {
                        obj.after("<label class='error'>Số điện thoại không hợp lệ</label>");
                        $("#frmId .btn").attr('disabled', 'disabled');
                    }
                    else {
                        if (data.status == 'exist') {
                            obj.after("<label class='error'>Số điện thoại này đã được đăng kí</label>");
                            $("#frmId .btn").attr('disabled', 'disabled');
                        }
                        else {
                            $("#frmId .btn").removeAttr('disabled');
                        }
                    }
                }
            });
            document.getElementById('username').value = obj.val();
        });
        $('#frmId').submit(function () {
            if ($(this).find('.error').length == 0) {
                return true;
            }
            else {
                return false;
            }
        });
    });
	$(document).ready(function () {
        $('#type').change(function () {
           var typeVal = document.getElementById('type').value;
		   if(typeVal == '3'){
				document.getElementById("password").value = '0';
				document.getElementById("passwordRow").style.display = "none";
				
				document.getElementById("salary").value = '0';
				document.getElementById("salaryRow").style.display = "none";
		   }else{
				document.getElementById("passwordRow").style.display = "block";
				
				document.getElementById("salaryRow").style.display = "block";
		   }
        });
       
    });
</script>
</html>

